<div id="vending-machine">
    <div id="left-side">
        <div id="branding-text-section">
            <div id="branding-text">
                <p>ColaCo Refreshments</p>
            </div>
        </div>
        <div>
            <div class="individual-soda-display" *ngFor="let soda of sodaList">
                <p>
                    {{ soda.productName }}<br>
                    {{ soda.currentQuantity }}
                </p>
                <div class="soda-icons-container">
                    <div class="soda-icon" *ngFor="let _ of [].constructor(sodasToDisplay(soda.currentQuantity))">
                        <svg width="60px" height="60px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <defs>
                                <style>
                                    .cls-1 {
                                        fill: none;
                                        stroke: #020202;
                                        stroke-miterlimit: 10;
                                        stroke-width: 1.91px;
                                    }
                                </style>
                            </defs>
                            <polygon class="cls-1"
                                points="17.73 1.5 6.27 1.5 4.36 5.32 4.36 18.68 6.27 22.5 17.73 22.5 19.64 18.68 19.64 5.32 17.73 1.5" />
                            <line class="cls-1" x1="4.36" y1="1.5" x2="19.64" y2="1.5" />
                            <circle class="cls-1" cx="12" cy="12" r="2.86" />
                            <line class="cls-1" x1="4.36" y1="5.32" x2="19.64" y2="5.32" />
                            <line class="cls-1" x1="4.36" y1="18.68" x2="19.64" y2="18.68" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="right-side">
        <div class="soda-buttons" *ngFor="let soda of sodaList" (click)="purchaseSoda(soda)"
            matTooltip={{soda.description}}>
            <div class="product-name-text">{{ soda.productName }}</div>
            <div class="product-cost-text">${{ soda.cost }}</div>
        </div>
    </div>
</div>