<div>
    <div id="vending-machine">
        <div id="branding-section">
            <div id="branding-text">
                ColaCo Refreshments
            </div>
        </div>
        <div id="button-section">
            <div class="soda-buttons" *ngFor="let soda of sodaList" (click)="purchaseSoda(soda)" matTooltip={{soda.description}}>
                <div class="product-name-text">{{ soda.productName }}</div>
                <div class="product-cost-text">${{ soda.cost }}</div>
            </div>
        </div>
    </div>
</div>