p {
    margin: 0px;
}

#vending-machine {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 800px;
    border-style: solid;
    width: 550px;
    left: calc(50% - 275px);
    position: absolute;
}

#left-side {
    float: left;
    border-right: solid;
    height: 100%;
    width: 70%;
    background-color: #90bed6;
}

#branding-text-section {
    height: 180px;
    font-size: 32pt;
}

#branding-text {
    padding-top: 50px;
}

.individual-soda-display {
    display: flex;
    height: 60px;
    margin-bottom: 30px;
    margin-left: 5px;
    width: 370px;
    border-style: solid;
    border-radius: 7px;
    background-color: #d1d9dc;
}

.individual-soda-display p {
    width: 110px;
    text-align: center;
    font-size: 16pt;
    border-style: solid;
    border-width: 0px 3px 0px 0px;
    font-weight: 600;
}

.soda-icons-container {
    display: flex;
}

.soda-icon {
    margin-left: 3px;
    position: relative;
}

#right-side {
    float: right;
    width: calc(30% - 3px);
    height: 100%;
    background-color: #396f8d;
}

.soda-buttons {
    display: block;
    height: 60px;
    margin: 5px 5px;
    border-style: solid;
    border-radius: 10px;
    background-color: #d1d9dc;
}

.soda-buttons:hover {
    background-color: #989898;
}

.product-name-text {
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 14pt;
    font-weight: 600;
}

.product-cost-text {
    float: right;
    margin-top: 20px;
    margin-right: 5px;
    font-size: 16pt;
}