#bank-balance-text {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 32pt;
}

p {
    margin: 0px 15px;
}